*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-con{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(145deg,rgb(126, 0, 140),rgb(183, 102, 215));
}
.nav-con ul{
    list-style: none;
    color: white;
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-right: 10px;
    font-weight: bold;
}
.nav-con ul li{
    color: white;
}
.title{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
}
a{
    text-decoration: none;
}
.nav-con ul li:hover{
    background-color: rgb(211, 212, 212);
    transition: 0.3ms;
}
